<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^villas/1/?$ /villa-agave [R=301,L]
  RewriteRule ^villas/2/?$ /villa-wanela [R=301,L]
  RewriteRule ^villas/3/?$ /villa-cemara [R=301,L]
  RewriteRule ^villas/4/?$ /villa-aleia [R=301,L]
  RewriteRule ^villas/5/?$ /villa-4d [R=301,L]
  RewriteRule ^villas/6/?$ /villa-calmora [R=301,L]
  RewriteRule ^villas/7/?$ /villa-twins [R=301,L]
  RewriteRule ^villas/8/?$ /villa-cyrena [R=301,L]
  RewriteRule ^villas/9/?$ /villa-arisyfa [R=301,L]
  RewriteRule ^villas/10/?$ /villa-cempaka [R=301,L]
  RewriteRule ^villas/11/?$ /villa-arsy [R=301,L]
  RewriteRule ^villas/12/?$ /villa-rayya [R=301,L]
  RewriteRule ^villas/13/?$ /villa-opung [R=301,L]
  RewriteRule ^villas/14/?$ /rjs-cottage-1 [R=301,L]
  RewriteRule ^villas/15/?$ /rjs-cottage-2 [R=301,L]
  RewriteRule ^villas/16/?$ /rjs-cottage-3 [R=301,L]
  RewriteRule ^villas/17/?$ /villa-kaca-1 [R=301,L]
  RewriteRule ^villas/18/?$ /villa-kaca-2 [R=301,L]
  RewriteRule ^villas/19/?$ /villa-de-summit [R=301,L]
  RewriteRule ^villas/20/?$ /villa-bodas [R=301,L]
  RewriteRule ^villas/21/?$ /villa-thymi [R=301,L]
  RewriteRule ^villas/22/?$ /villa-albi [R=301,L]
  RewriteRule ^villas/23/?$ /villa-valora [R=301,L]
  RewriteRule ^villas/24/?$ /echa-village [R=301,L]
  RewriteRule ^villas/25/?$ /villa-awan [R=301,L]
  RewriteRule ^villas/26/?$ /villa-baduo [R=301,L]
  RewriteRule ^villas/27/?$ /villa-hala [R=301,L]
  RewriteRule ^villas/28/?$ /villa-ranna [R=301,L]
  RewriteRule ^villas/29/?$ /villa-rio-5 [R=301,L]
  RewriteRule ^villas/30/?$ /the-herlina [R=301,L]
  RewriteRule ^villas/31/?$ /villa-hariza [R=301,L]
  RewriteRule ^villas/(villa-agave|villa-wanela|villa-cemara|villa-aleia|villa-4d|villa-calmora|villa-twins|villa-cyrena|villa-arisyfa|villa-cempaka|villa-arsy|villa-rayya|villa-opung|rjs-cottage-1|rjs-cottage-2|rjs-cottage-3|villa-kaca-1|villa-kaca-2|villa-de-summit|villa-bodas|villa-thymi|villa-albi|villa-valora|echa-village|villa-awan|villa-baduo|villa-hala|villa-ranna|villa-rio-5|the-herlina|villa-hariza)/?$ /$1 [R=301,L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "^(robots\.txt|sitemap-index\.xml|sitemap-0\.xml)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Expires "0"
    Header set Pragma "no-cache"
  </FilesMatch>
</IfModule>
